{
	"jid": "xxxxxxxxx@xxxxxxxxxxxxxxxxxxxxx",
	"password": "xxxxxxxxxxxxxxxxx",
	"mucHost": "xxxxxxxxx.xxxxxxxxx.xxxxxxxxx.xxxxxx",
	"rooms": [],
	"logs": {
		"logentries": {
			"token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
			"level": "info"
		},
		"stdout": {
			"level": "trace"
		}
	},
	"plugins": {
		"httpapi": {
			"port": 80
		},
		"echo": {},
		"groupcommands": {},
		"maps": {},
		"help": {}
		"ft": {
			"questions": {
				"Question text": {
					"answer": "Answer text",
					"link": "Related URL",
					"image": "Image URL",
					"rellinks": [
						"http://www.ft.com/intl/cms/s/0/cb881348-de9a-11e4-b9ec-00144feab7de.html"
					]
				}
			}
		},
	},
	"timeZone": "Europe/London"
}
