{
	"jid": "xxxxxxxxx@xxxxxxxxxxxxxxxxxxxxx",
	"password": "xxxxxxxxxxxxxxxxx",
	"mucHost": "xxxxxxxxx.xxxxxxxxx.xxxxxxxxx.xxxxxx",
	"rooms": [],
	"logs": {
		"logentries": {
			"token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
			"level": "info"
		},
		"stdout": {
			"level": "trace"
		}
	},
	"plugins": {
		"httpapi": {
			"port": 80
		},
		"echo": {},
		"groupcommands": {},
		"maps": {},
		"help": {}
	},
	"timeZone": "Europe/London"
}
